body{
    margin:0;
    background-image: url(../images/back_img.jpg);
}

div, input, textarea{
    box-sizing: border-box;
}

.component-signup{
    background:white;
    width:80%;
    max-width: 800px;
    min-width: 400px;
    margin:auto;
    padding:30px;
    border: 2px solid green;
    margin-top: 50px;
    margin-bottom: 50px;
}

.component-signup input, .component-signup textarea
{
    width:100%;
    font-size:15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.component-signup input[type=submit]
{
    width:200px;
    background: darkgray;
    border:2px solid black;
    position: relative;
    
}
#width-45
{
    width: 45%;
    float:left;
    margin-right:30px;
    
}

.clear-both{
    clear:both;
}

